body {
    background-color: black;
    margin: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

p {
    color: white;
    font-size: 1vw;
}

.wip {
    text-align: center;
    font-size: 2vw;
}

/* Header */
#banner {
    width: 100%;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1);
    padding-bottom: 3vw;
}

.MenuSelection {
    display: flex;
    align-items: center;
}

.Selection1Small {
    color: tan;
    margin: 2vw;
    text-align: center;
    font-size: 2vw;
    height: 2vw;
    width: 33.33%;
    transition: all 0.25s ease-in-out;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.Selection1Small:hover {
    text-decoration: underline;
    transform: scale(1.5);  
}

.Selection1Big {
    color: tan;
    margin: 2vw;
    text-align: center;
    font-size: 3vw;
    height: 3vw;
    width: 33%;
    transition: all 0.25s ease-in-out;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
}

.Selection1Big:hover {
    transform: scale(1.1);
}

.SelectionAccueilSmall {
    color: tan;
    margin: 2vw;
    text-align: center;
    font-size: 2vw;
    height: 2vw;
    width: 33%;
    transition: all 0.25s ease-in-out;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.SelectionAccueilSmall:hover {
    text-decoration: underline;
    transform: scale(1.5);  
}

.SelectionAccueilBig {
    color: tan;
    margin: 2vw;
    text-align: center;
    font-size: 3vw;
    height: 3vw;
    width: 33%;
    transition: all 0.25s ease-in-out;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
}

.SelectionAccueilBig:hover {
    transform: scale(1.1);
}

/* Présentation */
#presentation {
    flex: 0.33;
    background-color: black;
    padding: 4vw;
    height: auto;
}

.row {
    display: flex;
    flex-direction: row;  
}

.roundImage {
    width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    margin-bottom: 5vw;
}

#importantQuote {
    font-size: 4vw;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#desc {
    font-size: 1.5vw;
    text-align: center;
}

/* Classement */
#classementPart {
    flex: 0.33;
    background-color: tan !important;
    padding: 4vw;
}

#claTitle {
    color: black;
    padding-bottom: 3vw;
    font-size: 4vw;
    text-align: center;
}

#rightClaImg {
    text-align: right;
}

#kingMoveImg {
    width: 25%;
    aspect-ratio: 1 / 1.3;
    border: 3px solid black;
    margin-right: 50px;
    margin-bottom: 50px;
}

#claText  {
    color: black;
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

#classement {
    border-collapse: collapse;
    min-width: 1000px;
    width: 100%;
    margin: 100px auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: 2px solid black;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    background-color: lightblue;
    text-align: left;
}

th, td {
    padding: 0.8em 1em;
}

tbody, tr, td, th {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

/* Informations */
#informations {
    background-color: black;
    padding: 4vw;
    flex: 0.33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoTitle {
    color: tan;
    font-size: 3vw;
}

.info {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    padding: 0px;
    padding-bottom: 1vw;
    text-decoration: none;
}

#infoMoins {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    padding: 0px;
    text-decoration: none;
}

.column {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 0.333;
}

.column p {
    display: inline-block;
    margin: 0%;
}

.column a {
    font-weight: bold;
    display: inline-block;
}

#columnFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.333;
}

#fallOfTheKing {
    width: 50%;
    aspect-ratio: 1 / 1;
}